body {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
  }
  
  #game-intro {
    padding: 20px 0px;
        /* background-image: url(../images/road.png); */
  }
  
  #game-container {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    justify-content: center;
  }
  
  #game-screen {
    display: none; /* Or 'flex', depending on your design */
    flex-grow: 0;
    margin :10px;
    width: 1280px; /* Set a width */
    height: 1024px; /* Set a height */
    background-image: url(../images/GrassBackground.jpg); /* Check the path */
    /* z-index: -1; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* Other styles */
}
  
#world-container {
    position: relative;
    flex-grow: 1; /*Takes up the remaining space*/
    /* No specific width is required as it will grow to the remaining space */
    height: 100%; /* Fill the height of the game-screen */

}

#status-screen {
    position: relative; /* Position it relative to the selected item */
    min-width: 50px; /* Set a minimum width */
    padding: 10px; /* Padding inside the dialog */
    background: #fff; /* Background color of the dialog */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Shadow for the dialog */
    display: block; /* Keep it hidden by default */
    z-index: 100; /* Ensure it's above other elements */
}

.status-action {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50; /* Example color - change as needed */
    color: white;
    border-radius: 4px; /* Rounded buttons */
    cursor: pointer;
}

.status-action:hover {
    background-color: #45a049; /* Darker shade for hover state */
}
  


#battle-screen {
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    flex-grow:1;
    flex-shrink: 1;
}

  #battle-grid-container{
    display: grid;
    grid-template-columns: repeat(16, 80px); /* 16 columns */
    grid-template-rows: repeat(12, 80px); /* 12 rows */
    gap: 0px; /* Adjust the gap if needed */
    margin: auto;
    background: #ddd; /* Temporary background to visualize the area */
    background-image: url(../images/GrassBackground.jpg);

    width: auto; /* Fixed width of the grid */
    height: auto; /* Fixed height of the grid */
  }

.grid-cell {
    border: 1px solid black;
    /* flex:1; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d4d4d427; /* Light gray for visibility */
}

.battle-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0 10px;
}

.highlight-move {
  background-color: rgba(0, 128, 0, 0.151); /* Semi-transparent green */
  border: 1px solid green; /* Green border */
  box-shadow: 0 0 10px green; /* Glowing effect */
  cursor: pointer; /* Change cursor to indicate clickable */
}

.highlight-attack {
  background-color: rgba(189, 26, 26, 0.103); /* Semi-transparent green */
  border: 1px solid rgb(128, 0, 0); /* Green border */
  box-shadow: 0 0 10px rgb(48, 0, 0); /* Glowing effect */
 
}
.highlight-attack-enemy {
  background-color: rgba(255, 0, 0, 0.432); /* Light red background */
  border: 2px solid rgba(255, 0, 0, 0.781); /* More pronounced border */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
}


.battle-log {
  align-self: flex-end;
  flex-direction: column;
  position: absolute;
  top: 1024px;
  left: 0;
  width: 100%;
  height: 100px; /* Or whatever height you want */
  overflow-y: auto; /* Makes it scrollable if content overflows */
  background: #f9f9f9; /* Light background for visibility */
  border-top: 1px solid #ccc; /* A border to separate from the grid */
  padding: 10px;
  box-sizing: border-box;
}

#action-bar {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100px; /* Or whatever height you prefer */
    /* Styles for the action bar */
}

.action-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #45a049; /* Darker shade for hover */
  }
  
  .action-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden; /* Hidden by default */
  }
  

#player-side {

}

#enemy-side {
        /* Additional styling specific to enemy side */
}




  #game-end {
    display: none;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana";
  }
  
  .logo-img {
    width: 350px;
  }
  
  .arrows-img {
    width: 150px;
  }
  
  body button {
    font-size: 30px;
    background-color: #4aaff3;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
